@using MvcKutuphaneSistemi.Models.Entity;
@model List<Hareketler>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/MainLayoutPanel.cshtml";
}
<br />
<h2>Kitap Geçmişim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kitap Adı</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var hrkt in Model)
    {
        <tr>
            <td>@hrkt.Kitaplar.KitapAD</td>
            <td>@Convert.ToDateTime(hrkt.AlisTarihi).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(hrkt.UyeGetirTarih).ToString("dd/MM/yyyy")</td>
            <td><a href="/Odunc/Odunciade/@hrkt.HareketID" class="btn btn-default" style="background-color:#4b53b1; color:white">Detaylar</a></td>
        </tr>
    }
</table>
