@using MvcKutuphaneSistemi.Models.Entity
@model List<Yazarlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>İD</th>
        <th>Yazar Adı</th>
        <th>Yazar Soyadı</th>
        <th>Yazar Sil</th>
        <th>Yazar Güncelle</th>
        <th>Yazar'ın Kitapları</th>
    </tr>
    @foreach (var yzr in Model)
    {
    <tr>
        <th>@yzr.YazarID</th>
        <td>@yzr.YazarAD</td>
        <td>@yzr.YazarSoyad</td>
        <td>@Html.ActionLink("Sil", "YazarSil", new { id = yzr.YazarID }, new { @class = "btn btn-danger", onclick = "return confirm('Yazarı Silmek İstediğinden Emin misin?')" })</td>
        <td><a href="/Yazar/YazarGetir/@yzr.YazarID" class="btn btn-success">Güncelle</a></td>
        <td><a href="/Yazar/YazarKitap/@yzr.YazarID" class="btn btn-outline-secondary">Yazar'ın Kitapları</a></td>
    </tr>
    }

</table>
<a href="/Yazar/YazarEkle" class="btn btn-primary">Yeni Yazar Ekle</a>
